altgraph==0.17.4
annotated-types==0.7.0
certifi==2024.6.2
charset-normalizer==3.3.2
dnspython==2.6.1
email_validator==2.1.2
idna==3.7
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pillow==10.3.0
pydantic==2.7.4
pydantic_core==2.18.4
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.32.3
screeninfo==0.8.1
setuptools==69.5.1
six==1.16.0
ttkthemes==3.2.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wheel==0.43.0
